name: Release

on:
  workflow_dispatch:

permissions:
  contents: write 

jobs:
  frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Install dependencies
        run: cd web && pnpm install
      - name: Build frontend (js side)
        run: cd web && pnpm build
      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: web
          if-no-files-found: error
          path: web/dist

  build_aarch64:
    runs-on: ubuntu-latest
    container: ghcr.io/blackdex/rust-musl:aarch64-musl
    steps:
      - uses: actions/checkout@v6
      - name: Get version
        id: version
        uses: mikefarah/yq@v4
        with:
          cmd: yq '.package.version' Cargo.toml
      - name: Build
        run: cargo build --release
      - name: add some suffix into release name
        run: cp target/aarch64-unknown-linux-musl/release/lucle target/aarch64-unknown-linux-musl/release/lucle_linux_arm64
      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: lucle-arm64
          if-no-files-found: error
          path: target/aarch64-unknown-linux-musl/release/lucle
      - name: Upload artifacts on release page
        uses: softprops/action-gh-release@v2
        with:
          files: target/aarch64-unknown-linux-musl/release/lucle_linux_arm64
          tag_name: v${{ steps.version.outputs.result }}
          name: Lucle v${{ steps.version.outputs.result }}

  build_x86_64:
    runs-on: ubuntu-latest
    container: ghcr.io/blackdex/rust-musl:x86_64-musl
    steps:
      - uses: actions/checkout@v6
      - name: Get version
        id: version
        uses: mikefarah/yq@v4
        with:
          cmd: yq '.package.version' Cargo.toml
      - name: "Build Changelog"
        id: build_changelog
        uses: mikepenz/release-changelog-builder-action@v6
        with:
          mode: "COMMIT"
          failOnError: true
          ignorePreReleases: true
          configuration: ".github/release_note_config.json"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        run: cargo build --release
      - name: add some suffix into release name
        run: cp target/x86_64-unknown-linux-musl/release/lucle target/x86_64-unknown-linux-musl/release/lucle_linux_x86_64
      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: lucle-amd64
          if-no-files-found: error
          path: target/x86_64-unknown-linux-musl/release/lucle
      - name: Upload artifacts on release page
        uses: softprops/action-gh-release@v2
        with:
          files: target/x86_64-unknown-linux-musl/release/lucle_linux_x86_64
          body: ${{ steps.build_changelog.outputs.changelog }}
          tag_name: v${{ steps.version.outputs.result }}
          name: Lucle v${{ steps.version.outputs.result }}
        
  build-container:
    runs-on: ubuntu-22.04
    needs: [build_aarch64, build_x86_64, frontend]
    steps:
      - uses: actions/checkout@v6
      - name: Get version
        id: version
        uses: mikefarah/yq@v4
        with:
          cmd: yq '.package.version' Cargo.toml
      - uses: actions/download-artifact@v6
        with:
          pattern: lucle-*
      - uses: actions/download-artifact@v6
        with:
          name: web
          path: web/dist
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Build container
        uses: docker/build-push-action@v6
        with:
          file: Dockerfile
          context: .
          push: true
          tags: ludea/lucle:${{ steps.version.outputs.result }}
          platforms: linux/amd64, linux/arm64
